# Funcao: lista de dependencias Python do projeto.
# Responsável: João Pedro.

Django>=6.0,<6.1

# Dependencias previstas para as proximas etapas:
django-axes
django-two-factor-auth
django-otp
# psycopg[binary]
# django-environ
