{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RegiWay Frotas{% endblock %}</title>

    <!-- Icons  -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <!-- Folha de Estilos Principal -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body>

    <div class="app-layout">
        <!-- Sidebar do Sistema -->
        {% include 'partials/sidebar.html' %}

        <div class="main-wrapper">
            {% include 'partials/navbar.html' %}

            <!-- Área de Conteúdo -->
            <div class="content-area">
                <!-- Mensagens do Django -->
                {% include 'partials/messages.html' %}

                <!-- Bloco Principal -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Importando Javascript Global -->
    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>